<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand">Frontend Bootcamp</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#learn" class="nav-link">What You'll Learn</a>
        </li>
        <li class="nav-item">
          <a href="#questions" class="nav-link">Questions</a>
        </li>
        <li class="nav-item">
          <a href="#instructors" class="nav-link">Instructors</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!--  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- fixed-top -->
  <div class="container ">
    <p class="display-6 lead text-white-50  ms-2 px-3 ">Employee Management system</p>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button><!--  ms-auto -->

    <div class="collapse navbar-collapse ps-3 " id="navmenu">
      <ul class="navbar-nav h5 ms-auto pe-3 ">
        <li class="nav-item  me-4 ">
          <a routerLinkActive="active" class="nav-link" routerLink="/home">Home
          </a>
        </li>

        <li class="nav-item ">
          <a routerLinkActive="active" class="nav-link" routerLink="employee">
            Employees
          </a>
        </li>
        <!-- <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/add"
            > Add Employee</a
          >
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>