<div class="container mt-4">
    <h2 class="w-50 mx-auto mt-2 mb-3">Add New Employee</h2>

    <form #form="ngForm" method="post" (ngSubmit)="addNewEmployeetoDB()" class="form-control mx-auto px-5 py-4 w-75">
        <div class="mb-3 mt-2">
            <label for="name" class="form-label">Name </label>
            <input type="text" id="name" class="form-control" name="name" [(ngModel)]="newEmployeeData.name" />
        </div>

        <div class="mb-3 mt-2">
            <label for="father" class="form-label">Father </label>
            <input type="text" id="father" class="form-control" name="father" [(ngModel)]="newEmployeeData.father" />
        </div>

        <div class="mb-3 mt-2">
            <label for="email" class="form-label"> Email</label>
            <input type="email" id="email" class="form-control" name="email" [(ngModel)]="newEmployeeData.email" />
        </div>

        <div class="mb-3 mt-2">
            <label for="salary" class="form-label"> Salary</label>
            <input type="text" id="salary" class="form-control" name="salary" [(ngModel)]="newEmployeeData.salary" />
        </div>

        <div class="mb-3 mt-2">
            <label for="salary" class="form-label">Sex </label>
            <input type="text" id="salary" class="form-control" name="sex" [(ngModel)]="newEmployeeData.sex" />
        </div>

        <div class="mb-3 mt-2">
            <label for="department" class="form-label">Department </label>
            <input type="text" id="department" class="form-control" name="department"
                [(ngModel)]="newEmployeeData.department" />
        </div>

        <div class="mb-3 mt-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" name="dapartment"
                [(ngModel)]="newEmployeeData.password" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>