<div class="container p-4 m-3">
    <p class="h2 ">Welcome to Management system </p>
   <p class="bg-gradient rounded p-4 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sit unde accusantium impedit quidem? Accusamus
        voluptate ut dicta ipsam pariatur vel sint sed, autem vitae assumenda quisquam. Similique, tenetur placeat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea quam vel alias blanditiis adipisci voluptatibus
        sapiente repellat, a eos officiis cum autem quis corporis ipsum et. Distinctio sequi aliquam hic! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ut eveniet expedita facilis deleniti a dignissimos rem doloribus
        neque officia tempore modi distinctio quam, alias corrupti est, saepe doloremque enim. Obcaecati.
    </p>
    <p class="bg-dark p-4 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sit unde accusantium impedit quidem? Accusamus
        voluptate ut dicta ipsam pariatur vel sint sed, autem vitae assumenda quisquam. Similique, tenetur placeat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea quam vel alias blanditiis adipisci voluptatibus
        sapiente repellat, a eos officiis cum autem quis corporis ipsum et. Distinctio sequi aliquam hic! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ut eveniet expedita facilis deleniti a dignissimos rem doloribus
        neque officia tempore modi distinctio quam, alias corrupti est, saepe doloremque enim. Obcaecati.
    </p>
    <p class="bg-dark p-4 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sit unde accusantium impedit quidem? Accusamus
        voluptate ut dicta ipsam pariatur vel sint sed, autem vitae assumenda quisquam. Similique, tenetur placeat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea quam vel alias blanditiis adipisci voluptatibus
        sapiente repellat, a eos officiis cum autem quis corporis ipsum et. Distinctio sequi aliquam hic! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ut eveniet expedita facilis deleniti a dignissimos rem doloribus
        neque officia tempore modi distinctio quam, alias corrupti est, saepe doloremque enim. Obcaecati.
    </p>
  <p class="bg-dark p-4 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sit unde accusantium impedit quidem? Accusamus
        voluptate ut dicta ipsam pariatur vel sint sed, autem vitae assumenda quisquam. Similique, tenetur placeat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea quam vel alias blanditiis adipisci voluptatibus
        sapiente repellat, a eos officiis cum autem quis corporis ipsum et. Distinctio sequi aliquam hic! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ut eveniet expedita facilis deleniti a dignissimos rem doloribus
        neque officia tempore modi distinctio quam, alias corrupti est, saepe doloremque enim. Obcaecati.
    </p>  <!--   -->
</div>